.todoheader{
color: aqua;
background-color: brown;
}

.todobutton{
    color: black;
    margin: 10px;
    background-color: gray;
}

.list_cotainer{
    display: flex;
    border: 2px solid black;
}

.list_ind{
    border: 1px solid rgb(234, 53, 53);
    display: flex;
    flex-direction: column;
    width:calc(100% / 3);
    padding:1rem;
margin: 1rem;

}
.item_style{
    cursor: pointer;
}